@model BurgerPlace2.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Cardapio";
}

<partial name="_Carousel" />
<h1 class="text-danger text-center">Itens em Destaque</h1>
<hr class="bg-danger">    
<div class="row row-cols-sm-3 row-cols-1">
    @foreach (var item in Model.ItensEmDestaque)
    {
        <partial name="_Card" for="@item"></partial>
    }
</div>